body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.l_section {
    display: inline-block;
    height: 100vh;
    width: 300px;
    background: rgb(66, 75, 128);
    color:rgb(240, 232, 232);
    position: fixed;
}

.v-center{
    position: relative;
    top: 50%;
    transform: translateY(-58%);
}

.img {
    border-radius: 100%;
    height: 250px;
    width: 250px;
    margin: 0px auto;
    display: block;
    border: 5px solid rgb(101, 106, 168);
    
}

.lname {
    margin: 20px 0px;
    text-align: center;
}

.collection {
    margin: 25px 0px 30px;
}

.collection a {
    color: white;
    width: 100%;
    display: block;
    line-height: 3rem;
    text-align: center;
}

.collection a:hover {
    background-color: rgb(101, 106, 168);
}

.media {
    margin: 20px auto;
    text-align: center;
}
.media a{
    color: rgb(240, 232, 232);
    display: inline-block;
    margin: 0px 10px;
}

.media i {
    font-size: 30px;
}

.media a:hover i {
    transform: scale(1.3);
}

.r_section {
    display:inline-block;
    position: absolute;
    margin: 30px 30px 0px 330px;
}

.rname {
    color: #343a40;
    font-size: 5.5rem;
    line-height: 5.5rem;
    margin: 0px;
}

a {
    color: #333399;
    text-decoration: none;
  }
  

.subheading_1 {
    color: #565a5e;
    font-size: 20px;
    margin: 0px;
    margin-bottom: 60px;
}

.heading {
    font-size: 3rem;
    margin: 0px 0px 15px 0px;
}

.subheading_2 {
    font-size: 22px;
    margin: 0px;
}

.subheading_2 p{
    font-size: 15px;
    margin: 2px 0px 3px 0px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

.subheading_3 {
    font-size: 23px;
    margin: 0px 0px 8px 0px;
    color: #333399;
}

.lang_tools_lists {
    font-size: 15px;
    margin: 2px 0px 3px 0px;
}

.proj_lists a {
    font-size: 20px;
}

.proj_lists p {
    margin: 2px 0px 25px 0px;
    font-size: 17px;
}

.line {
    width: 30px;
    height: 3px;
    background:white;
    margin: 5px;
}

.hamburger {
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-out;
    z-index: 3;
}

.hamburger.close {
    transform: rotate(180deg);
}

.hamburger.close .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.close .line:nth-child(2) {
    opacity: 0;
}    

.hamburger.close .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.sect {
    padding: 60px 0px;
}

hr {
    opacity: 0.3;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .img {
        width: 150px;
        height: 150px;
    }

    .v-center {
        transform: translateY(-65%);
    }

    .l_section {
        width: 100%;
        z-index: 1;
        top: 60px;
        transform: translate3d(-100%,0,0);
        transition: all 0.5s ease-out;
    }

    .l_section.show {
        width: 100%;
        z-index: 1;
        top: 60px;
        transform: translate3d(0,0,0);
    }

    .hide {
        visibility: hidden;
    }

    .r_section {
        margin: 60px 20px 0px;
    }

    .rname {
        display: none;
    }

    .nav-bar {
        background-color: rgb(66, 75, 128);
        position: fixed;
        top: 0;
        width: 100%;
        left: 0px;
        height: 60px;
    }

    .nav-bar h1 {
        display: inline-block;
        margin: 11px 15px;
        position: absolute;
        color: white;
    }
}
    
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}
    
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}
    
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-bar {
        display: none;
    }
    .hamburger {
        visibility: hidden;
    }
}
    
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .nav-bar {
        display: none;
    }
    .hamburger {
        visibility: hidden;
    }
}
