body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background: url(images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
}

body:after {
    background-color: #434343;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    content: "";
    opacity: 0.9;
}

.l_section {
    display: inline-block;
    height: 100vh;
    width: 300px;
    background: #363636;
    color: #fff;
    position: fixed;
}

.v-center{
    position: relative;
    top: 50%;
    transform: translateY(-58%);
}

.img {
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin: 0px auto;
    display: block;
    border: 2.5px solid #eece1a;
    
}

.lname {
    margin: 20px 0px;
    text-align: center;
    text-decoration: underline #eece1a;
}

.collection {
    margin: 25px 0px 30px;
}

.collection a {
    color: #fff;
    width: 100%;
    display: block;
    line-height: 3rem;
    text-align: center;
}

.collection a:hover {
    background-color: rgba(80,80,80,.8);
    color: #eece1a;
    transition: all 0.4s ease-out;
}

.media {
    margin: 20px auto;
    text-align: center;
}
.media a{
    color: #fff;
    display: inline-block;
    margin: 0px 10px;
}

.media i {
    font-size: 30px;
}

.media a:hover i {
    transform: scale(1.3);
    color: #eece1a;
    transition: all 0.4s ease-out;
}

html {
    scroll-behavior: smooth;
}

.r_section {
    display:inline-block;
    position: absolute;
    margin: 0px 30px 0px 330px;
}

.abt-me {
    color: #fff;
    font-size: 2rem;
    text-decoration: underline #eece1a;
    margin: 0px;
}

a {
    color: #fff;
    text-decoration: none;
  }
  

.subheading_1 {
    color: #fff;
    font-size: 20px;
    margin: 0px;
}

.subheading_1 p a {
    text-decoration: underline #eece1a;
}

.subheading_1 p:nth-child(2) {
    margin-bottom: 0px;
}

.heading {
    font-size: 2rem;
    margin: 0px 0px 30px 0px;
    text-decoration: underline #eece1a;
}

.subheading_2 {
    font-size: 22px;
    margin: 0px;
}

.subheading_2 a {
    font-size: 23px;
}

.subheading_2 p{
    font-size: 16px;
    margin: 2px 0px 2px 0px;
}

h1,h2,h3,h4,h5,h6,p,li {
    color: #fff;
}

h3 {
    margin: 5px 0px;
}

.subheading_3 {
    font-size: 23px;
    margin: 0px 0px 8px 0px;
    color: #fff;
}

.lang_tools_lists {
    font-size: 16px;
    margin: 2px 0px 3px 0px;
}

.proj_lists a {
    font-size: 20px;
}

.proj_lists p {
    margin: 2px 0px 25px 0px;
    font-size: 16px;
    text-align: justify;
}

.line {
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px;
}

.hamburger {
    cursor: pointer;
    display: inline-block;
    margin: 15px;
    position: absolute;
    right: 0;
    transition: all 0.5s ease-out;
    z-index: 3;
}

.hamburger.close {
    transform: rotate(180deg);
}

.hamburger.close .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.close .line:nth-child(2) {
    opacity: 0;
}    

.hamburger.close .line:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

.sect {
    padding: 60px 0px;
}

hr {
    opacity: 0.3;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .img {
        width: 125px;
        height: 125px;
    }

    .v-center {
        transform: translateY(-65%);
    }

    .l_section {
        width: 100%;
        z-index: 1;
        top: 60px;
        transform: translate3d(-100%,0,0);
        transition: all 0.5s ease-out;
    }

    .l_section.show {
        width: 100%;
        z-index: 1;
        top: 60px;
        transform: translate3d(0,0,0);
    }

    .hide {
        visibility: hidden;
    }

    .r_section {
        margin: 10px 20px 0px;
    }

    .nav-bar {
        background-color: #363636;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0px;
        height: 60px;
        z-index: 1;
    }

    .nav-bar h1 {
        display: inline-block;
        margin: 11px 15px;
        position: absolute;
        color: #fff;
    }

    .heading {
        font-size: 2em;
    }

    .subheading_1 {
        font-size: 17px;
    }

    .subheading_2 a{
        font-size: 18px;
    }

    .subheading_2 p {
        font-size: 14px;
    }
    
    .subheading_3 {
        font-size: 18px;
    }

    .proj_lists a {
        font-size: 18px;
    }

    .proj_lists p {
        font-size: 15px;
        text-align: justify;
    }

}
    
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .nav-bar {
        display: none;
    }
    .hamburger {
        visibility: hidden;
    }
}
    
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-bar {
        display: none;
    }
    .hamburger {
        visibility: hidden;
    }
}
    
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-bar {
        display: none;
    }
    .hamburger {
        visibility: hidden;
    }
}
    
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .nav-bar {
        display: none;
    }
    .hamburger {
        visibility: hidden;
    }
}
